.container {
    font-size: 28px;
    margin-top: 75px;
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.welcome {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: rgba(143,2,224,1);
    filter: brightness(1.2);
}
.infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
}
.title {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: rgba(143,2,224,1);
    filter: brightness(1.2);
}
.topic {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}
