.container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.title {
    color: rgba(143,2,224,1);
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 120px;
}
.button {
    width: 125px;
    height: 30px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: rgba(143,2,224,1);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}
.box {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 20px;
}
.title2 {
    font-size: 22px;
    font-weight: 500;
    width: 220px;
}
.input {
    margin-left: 150px;
    font-size: 22px;
    border-radius: 6px;
    border: 2px solid gray;
    outline-color: rgba(143,2,224,1);
}
.select {
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid gray;
    outline-color: rgba(143,2,224,1);
    margin-left: 150px;
}
.button2 {
    width: 150px;
    height: 40px;
    align-self: center;
    background-color: rgba(143,2,224,1);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.fileName{
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.creationContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 150px;
}
.creating {
    margin-left: 20px;
    margin-bottom: 6px;
    font-size: 35px;
    color: rgba(143,2,224,1);
    font-weight: 600;
    align-self: center;
}
.errorMsg{
    color: red;
    display: flex;
    flex-direction: row;
    margin-left: 155px;
}
.upload {
    color: white;
    background-color: rgba(143,2,224,1);
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 50px;
}
input[type="file"] {
    display: none;
}
.label {
    margin-top: 20px;
}