.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 22%;
    margin-top: 100px;
}
.name {
    font-size: 30px;
    font-weight: 600;
    color: blueviolet;
    align-self: center;
}
.addRow {
   align-self: center;
}
.button {
    width: 135px;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 35px;
    background-color: white;
    color: rgba(143,2,224,1);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover {
    color: white;
    background-color: rgba(143,2,224,1);
    border: 2px solid white;
    transition: ease-in-out 160ms;
    filter: brightness(1.2);
}
.products {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
