.container {
    width: 48%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 12px;
}
.container:hover {
    background-color: rgba(143,2,224,1);
    filter: brightness(1.2);
    color: white;
    border-radius: 18px;
}
.container:hover > .info > .price {
    color: white;
}
.image {
    width: 140px;
    height: 120px;
    border-radius: 18px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.details {
    margin-left: 6px;
    margin-top: 6px;
    font-size: 14px;
}
.title {
    margin-left: 6px;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    min-width: 220px;
}
.price {
    margin-left: 6px;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    color: rgba(143,2,224,1);
    filter: brightness(1.2);
}
.category {
    width: 180px;
}
.priceC {
    width: 55px
}
.delete {
    color: white;
    background-color: red;
    width: 65px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.delete:hover {
    border: 2px solid white;
}