.container {
    width: 50%;
    margin-left: 25%;
}
.outputContainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: rgba(143,2,224,1);
    margin-top: 75px;
}
.title2 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: rgba(143,2,224,1);
}
.preparing {
    color: white;
    background-color: rgb(218, 218, 62);
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid rgb(218, 218, 62);
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px
}
.preparing:focus{
    border: 2px solid rgba(143,2,224,1);
    color: rgba(143,2,224,1);
}
.delivering {
    color: white;
    background-color: rgb(17, 4, 206);
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid rgb(17, 4, 206);
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px
}
.delivering:focus{
    border: 2px solid rgba(143,2,224,1);
    color: rgba(143,2,224,1);
}
.delivered {
    color: white;
    background-color: rgb(19, 247, 224);
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid rgb(19, 247, 224);
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px
}
.delivered:focus{
    border: 2px solid rgba(143,2,224,1);
    color: rgba(143,2,224,1);
}
.waiting {
    color: white;
    background-color: rgb(228, 100, 15);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid rgb(228, 100, 15);
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.waiting:focus{
    border: 2px solid rgba(143,2,224,1);
    color: rgba(143,2,224,1);
}
.received{
    color: white;
    background-color: green;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}
.received:focus{
    border: 2px solid rgba(143,2,224,1);
    color: rgba(143,2,224,1);
}
.infoContainer {
    display: flex;
    margin-top: 28px;
    margin-left: 50px;
}
.p{ 
    font-size: 22px;
    margin-top: 10px;
    font-weight: 500;
}