.container {
    display: flex;
    justify-content: center;
}
.locationContainer {
    min-height: 200px;
    border: 2px solid rgba(143,2,224,1);
    border-radius: 10px;
    margin-top: 125px;
}
.restaurantsContainer {
    display: flex;
    flex-direction: column;
}
.title {
    width: 190px;
    font-size: 28px;
    font-weight: 600;
    margin-top: 100px;
    border-bottom: 2px solid rgba(143,2,224,1);
}
.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.more {
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
    width: 120px;
    height: 32px;
    background-color: rgba(143,2,224,1);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.more:hover {
    background-color: white;
    color: rgba(143,2,224,1);
    border: 2px solid rgba(143,2,224,1);
    transition: all, 240ms ease-in-out;
    font-weight: 600;
}
.setWidth {
    width: 750px;
}
.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.select {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.type {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    height: 30px;
}