.container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 220px;
}
.container:hover {
    background-color: rgba(143,2,224,1);
    color: white;
    transition: all, 240ms ease-in-out;
}

.image {
    width: 100%;
    max-height: 165px;
}
.imageContainer {
    width: 100%;
}
.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    font-size: 20px;
    font-weight: 700;
}
