.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
}
.loginContainer {
    align-items: center;
    width: 400px;
    height: 750px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    padding: 2px;
    border: solid 2px rgba(116,4,185,0.8);
    overflow: hidden;
    position: relative;
}
.formContainer {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.8em;
}
.inputContainer {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.containerColor {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(100,5,175,1) 0%, rgba(120,4,185,1) 35%, rgba(175,0,255,1) 100%);    
    width: 200%;
    left: -50%;
    height: 950px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    transform: rotate(90deg);
}
.textContainer {
    align-self: center;
    z-index: 10;
    color: rgba(120,4,185,1);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}
.paragraph {
    z-index: 10;
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.input {
    z-index: 10;
    outline: none;
    width: 60%;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid gray;
    border-radius: 12px;
    margin-bottom: 25px;
}
.input:focus {
    outline: none;
    border: 2px solid rgba(143,2,224,1);
    transition: all, 160ms ease-in-out;
}
.button {
    z-index: 10;
    width: 50%;
    padding: 11px;
    color: rgba(143,2,224,1);
    border: 1px solid rgba(143,2,224,1);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
    transition: all, 240ms ease-in-out;
    background: white;
    margin-top: 28px;
    margin-bottom: 120px;
}
.button:hover {
    background:rgba(143,2,224,1);
    color: white;
    filter: brightness(1.3);
    border: 1px solid white;
}
.labels {
    z-index: 10;
    color: white;
    font-size: 20px;
    margin-bottom: 6px;
}
.p {
    color: white;
    z-index: 10;
    margin-bottom: 115px;
    font-size: 14px;
}
.boldLink {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.login { 
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.success {
    color: green;
    filter: brightness(1.2);
    font-size: 25px;
    font-weight: 500;
}
.error { 
    color: red;
    font-size: 25px;
    font-weight: 500;
}
.errorMsg{
    color: red;
    display: flex;
    flex-direction: row;
}