.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.loginContainer {
    align-items: center;
    width: 400px;
    height: 750px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    padding: 2px;
    border: solid 2px rgba(116,4,185,0.8);
    overflow: hidden;
    position: relative;
}
.formContainer {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.8em;
}
.containerColor {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(100,5,175,1) 0%, rgba(120,4,185,1) 35%, rgba(175,0,255,1) 100%);    
    width: 200%;
    left: -50%;
    height: 950px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    transform: rotate(90deg);
}
.textContainer {
    align-self: center;
    z-index: 10;
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.textContainerR {
    align-self: center;
    z-index: 10;
    color: rgba(120,4,185,1);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.paragraph {
    z-index: 10;
    font-size: 14px;
    color: white;
    margin-bottom: 200px;
}
.paragraphR {
    z-index: 10;
    font-size: 14px;
    color: rgba(120,4,185,1);
    margin-bottom: 200px;
}
.boldLink {
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}