.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
}
.loginContainer {
    align-items: center;
    width: 400px;
    height: 750px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    padding: 2px;
    border: solid 2px rgba(116,4,185,0.8);
    overflow: hidden;
    position: relative;
}
.formContainer {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.8em;
}
.containerColor {
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(100,5,175,1) 0%, rgba(120,4,185,1) 35%, rgba(175,0,255,1) 100%);    
    width: 200%;
    left: -50%;
    height: 950px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    transform: rotate(90deg);
}
.textContainerR {
    align-self: center;
    z-index: 10;
    color: rgba(120,4,185,1);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.paragraphR {
    z-index: 10;
    font-size: 14px;
    color: rgba(120,4,185,1);
    margin-bottom: 60px;
    margin-top: 14px;
}
.boldLink {
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
.input {
    z-index: 10;
    outline: none;
    width: 60%;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 12px;
    margin-bottom: 25px; 
}
.input:focus {
    outline: none;
    border: 2px solid rgb(26, 39, 133);
}
.postC {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.inputP {
    z-index: 10;
    outline: none;
    width: 20%;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 12px;
    margin-bottom: 25px; 
}
.inputP:focus {
    outline: none;
    border: 2px solid rgb(26, 39, 133); 
}
.button {
    z-index: 10;
    width: 50%;
    padding: 11px;
    color: rgba(143,2,224,1);
    border: 1px solid rgba(143,2,224,1);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
    transition: all, 240ms ease-in-out;
    background: white;
    margin-top: 12px;
}
.button:hover {
    background:rgba(143,2,224,1);
    color: white;
    filter: brightness(1.3);
    border: 1px solid white;
}
.titles {
    color: white;
    z-index: 10;
    font-size: 18px;
    margin-bottom: 6px;
}
.titleP {
    color: white;
    z-index: 10;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    width: 60%;
}
.postal {
    margin-left: -5px;
}
.city {
    margin-left: 80px;
}
.form { 
    z-index: 10;
}